@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

.jumbotron{
  background-image: image-url("gt_visit_crop.png");
  height: 500px;
}

.guests{
  width: 200px;
}

.room-block-element{
  width: 290px;
  display: inline-block;
  vertical-align: top;
  height: 350px;
}

.room-block-header{
  background-color: #428bca;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 10px 5px 0px;
  right: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: right;
  vertical-align: top;
}

.room-block-text{
  padding: 0 10px 5px 10px;
}